main{
    margin-top: 0;
    padding: 0;
    width: 99.90%;
    min-height: 100vh;
    background: radial-gradient(circle,white,goldenrod);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:nth-of-type(1){
    border-radius:5px;
    /*width:80%;*/
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: aliceblue;
    margin-top: 5%;
    margin-bottom: 5%;

    padding: 5vw;
    border-radius: 12px;
    box-shadow: 2px 5px 15px 3px cornflowerblue;
    -moz-box-shadow: 2px 5px 15px 3px cornflowerblue;
    -webkit-box-shadow: 2px 5px 15px 3px cornflowerblue;


}
.choice{
    text-decoration: none;
    font-size: 3vw;
    padding: 1.5vw;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    background-color: maroon;
    box-shadow: 2px 5px 15px 3px maroon;
    -moz-box-shadow: 2px 5px 15px 3px maroon;
    -webkit-box-shadow: 2px 5px 15px 3px maroon;
    border-radius: 5px;
}
.choice:hover{
    background-color: red;
}
.heartsScoreWrapper{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#addOne{
    color: green;
    font-size: 2vw;
    opacity: 1;
    /*transition: opacity 1s;*/
}
#subOne{
    color: red;
    font-size: 2vw;
    opacity: 1;
}
.hearts{
    color: red;
}
#question{
    margin-top: 10%;
    box-shadow: inset 0px 0px 15px 3px goldenrod;
    -moz-box-shadow:inset 0px 0px 15px 3px goldenrod;
    -webkit-box-shadow:inset 0px 0px 15px 3px goldenrod;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    font-size: 5vw;
    width: 100%;
}
#instructions{
    width: 100%;

    text-transform: capitalize;
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 1vw;
    box-sizing: border-box;
    color: black;
    background-color: goldenrod;
    margin-top: 2%;
}
#answer{
    width: 100%;

    margin-top: 3%;

}
#answer input{
    border:4px solid black;
    width: 100%;
}
#submit{
    background-color: maroon;
    color: white;
    border: 2px solid black;
    padding: 5px;
    margin-top: 10px;
    display: none;
}

#start{
    width: fit-content;
    background-color: cornflowerblue;
    border: none;
    padding: 5px;
    margin-top:10%;
    /*
    position: absolute;
    bottom:5px;*/
    box-shadow: -3px -3px black;
}
#start:hover{
    cursor: pointer;
    box-shadow: 3px 3px black;
}

#scoreBoard{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    z-index: 2;
    width:90%;
    background-color: goldenrod;
}
#scoreBoard form{
    display: flex;
    flex-direction: column;
}

#scoreBoard a{

    position: absolute;
    left: 5px;
    top:10px;
    font-size: 28px;
}
#scoreBoard a:hover{
    color: red;
    cursor: pointer;

}

#UserScore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    font-size: 2.2vw;
}
#UserScore form{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

#UserScore .score{
font-size: 3vw;
background-color: goldenrod;
outline: unset;
border: 0;
}
#UserScore input[type="submit"]{
    font-size: 2vw;
    background-color: maroon;
    color: var(--color2);
    text-transform: capitalize;
    width: fit-content;
    padding: 2vw;
    outline: unset;
    border: 2px solid black;
}

#UserScore h1{
    font-size: 35px;
}
#UserScore h2{
    font-size: 24px;
}
#UserScore h3{
    font-size: 20px;
}
.hideeme{
    display: none;
}
/**/